<!-- <h1>Welcome in home component</h1>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 my-5 shadow p-5">
        <form #studentrecord="ngForm" (ngsubmit)="savetsudent(studentrecord)">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Student Name</span>
            <input type="text" class="form-control" placeholder="Enter Student Name" aria-label="Username" name="student_name" ngModel aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Student Mobile</span>
            <input type="number" class="form-control" placeholder="Enter Student Mobile" aria-label="UserNumber" name="student_mobile" ngModel aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Student Email</span>
            <input type="email" class="form-control" placeholder="Enter Student Email" aria-label="UserEmail" name="student_email" ngModel aria-describedby="basic-addon1">
          </div>
          <div class="input-group mb-3">
            <label class="input-group-text" for="inputGroupSelect01">Select Class</label>
            <select class="form-select" id="inputGroupSelect01" placeholder="Select Class" ngModel>
              <option selected>Select Standered</option>
              <option value="1">1st std</option>
              <option value="2">2nd std</option>
              <option value="3">3rd std</option>
              <option value="4">4th std</option>
              <option value="5">5th std</option>
            </select>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Save Data</button>
          </div>
        </form>
    </div>
  </div>
</div> -->

<form #studentrecord="ngForm" (ngSubmit)="savetsudent(studentrecord)">
  <input type="text" name="student_name" ngModel placeholder="Enter Student Name" id="">
  <br><br>
  <input type="text" name="student_mobile" ngModel placeholder="Enter student Mobile" id="">
  <br><br>
  <input type="text" name="student_email" ngModel placeholder="Enter Student Email" id="">
  <br><br>
  <button>Save data</button>
</form>

<table border="1" class="table table-bordered table-responsive my-5" *ngIf="!onerecord">
  <thead>
    <tr>
      <th>Update</th>
      <th>srno</th>
      <th>Name</th>
      <th>Mobile</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of record;let i=index">
      <td>
        <button (click)="editdata(row.id)" >Edit</button>
        <button (click)="deletedata(row.id)">Delete</button>
      </td>
      <td> {{i+1}} </td>
      <td> {{row.student_name}} </td>
      <td> {{row.student_mobile}} </td>
      <td> {{row.student_email}} </td>
    </tr>
  </tbody>
</table>

<div *ngIf="onerecord">

  <form #updaterecord="ngForm" (ngSubmit)="studentupdaterecord(updaterecord)">
    <input type="hidden" name="id" [ngModel]="onerecord.id" id="">
    <input type="text" name="student_name" [ngModel]="onerecord.student_name" id="">
    <br><br>
    <input type="text" name="student_mobile" [ngModel]="onerecord.student_mobile" id="">
    <br><br>
    <input type="text" name="student_email" [ngModel]="onerecord.student_email" id="">
    <br><br>
    <button>Update</button>
  </form>

</div>